@import "tailwindcss";

@theme {
    --color-test: #60A5FA;
    --color-button: #999999;
    --color-hoverbutton: #555555;
}

@layer base {
    button {
        @apply bg-test;
    }

    .optionbutton {
        @apply min-h-12 m-2 bg-button hover:bg-hoverbutton;
    }
}